
body{
    background-image: url(./pastelcolors.webp);
}

h1{
    background-image: url(./pinkredspring.webp);
    background-repeat: repeat;
    background-size: 35px;
}

h2{
    background-image: url(./pinkredspring.webp);
    background-repeat: repeat;
    background-size: 35px;
}

p{
    background-color: floralwhite;
}